body {
  background-color: #2f3035;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1024px;
}

header {
  background-color: blue;
  height: 110px;
}
header img {
  width: 150px;
  height: 100px;
}

nav {
  background-color: red;
  height: 40px;
}

main {
  background-color: orange;
  height: 400px;
}

footer {
  background-color: greenyellow;
  height: 100px;
}
